# Core functionality - changes here should be rare!
/src/app.py                   @crafttyangelo
/src/backend/database.py      @crafttyangelo
/src/backend/routers/auth.py  @crafttyangelo

# The frontend will need refactored soon to be more object oriented.
/src/static/   @crafttyangelo
